@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Trey Stegeman's Resume</h1>
</div>
<br>
<div class="card mx-auto" style="max-width: 750px;">
    <div class="row g-0">
        <div class="col-sm-5">
            <img src="https://media.licdn.com/dms/image/D4D03AQHLsfGqkTGHmg/profile-displayphoto-shrink_200_200/0/1677511930254?e=1687392000&v=beta&t=_Wf7yGwvEzjaigaKBtI7mLbkam3AZh2mSwei3tEz8-w" class="card-img-top h-100" alt="profile pic">
        </div>
        <div class="col-sm-7">
            <div class="card-body">
                <h5 class="card-title">Trey Stegeman</h5>
                <p class="card-text">Hello, I am a software developer and I.T. student based in Cincinnati. I created this website as a place to host my resume, please check it out.</p>
                <a href="mailto:trey@stegeman.dev" class="btn btn-primary stretched-link">Email</a>
            </div>
        </div>
    </div>
</div>
<h2>Experience</h2>
<div class="card">
    <div class="card-header">Western & Southern Financial Group</div>
    <div class="card-body">
        <h5 class="card-title">Development Operations Programming Intern</h5>
        <h8>January 2023 - Present</h8>
        <p class="card-text">Part of the Agency Application Team working on systems such as iNB & ASK.</p>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header">Senneca Holdings</div>
    <div class="card-body">
        <h5 class="card-title">Information Technology Intern</h5>
        <h8>August 2021 - December 2022</h8>
        <p class="card-text">Worked on troubleshooting and resolving tickets for the IT helpdesk, as well 
        as setting up new hires computers dealing with hardware and licensing provisioning. I also 
        participated in projects such as transitioning our helpdesk from Jira to JitBit, fixing and installing
         networking infrastructure, programming projects to improve the helpdesk’s efficiency, and the training 
         of other IT interns.</p>
    </div>
</div>
<br>
<h2>Education</h2>
<div class="card">
    <div class="card-header">University of Cincinnati</div>
    <div class="card-body">
        <h5 class="card-title">Bachelor of Science in Information Technology</h5>
        <h8>August 2019 - May 2024</h8>
        <p class="card-text">Software Development Track<br>
        Minor in Finance</p>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header">Saint Xavier High School</div>
    <div class="card-body">
        <h5 class="card-title">High School Diploma</h5>
        <h8>August 2015 - May 2019</h8>
        <p class="card-text">Took AP Computer Science</p>
    </div>
</div>
<br>
<h2>Certifications</h2>
<div class="card">
    <div class="card-header">Amazon Web Services</div>
    <div class="card-body">
        <h5 class="card-title"> AWS Certified Cloud Practitioner</h5>
        <h8>April 2021</h8>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header">Microsoft</div>
    <div class="card-body">
        <h5 class="card-title">Azure Fundamentals Certificate</h5>
        <h8>June 2021</h8>
    </div>
</div>
<br>
<h2>Honors</h2>
<div class="card">
    <div class="card-header">Boy Scouts of America</div>
    <div class="card-body">
        <h5 class="card-title">Eagle Scout</h5>
        <h8>May 2019</h8>
    </div>
</div>