@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Trey Stegeman Resume</h1>
</div>
<h2>Experiance</h2>
<div class="card">
    <div class="card-header">Western & Southern Financial Group</div>
    <div class="card-body">
        <h5 class="card-title">Development Operations Programming Intern</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
</div>
<div class="card">
    <div class="card-header">Senneca Holdings</div>
    <div class="card-body">
        <h5 class="card-title">Information Technology Intern</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
</div>

