@{
    ViewData["Title"] = "Networking";
}
<h1>Networking Experience</h1>
<ul class="list-group">
    <li class="list-group-item list-group-item-primary">Networking Infastructure Installation and Troubleshooting</li>
    <li class="list-group-item list-group-item-danger">Cloudflare</li>
    <li class="list-group-item list-group-item-success">Apache Server</li>
    <li class="list-group-item list-group-item-warning">Nginx</li>
    <li class="list-group-item list-group-item-info">Wireshark</li>
</ul>
<br>
<h1>Networking Architecture</h1>
<div class="text-center">
  <img src="Resume/wwwroot/images/12.jpg" class="rounded">
</div>