@{
    ViewData["Title"] = "Networking";
}
<h1>Networking Experience</h1>
<ul class="list-group">
  <li class="list-group-item">A simple default list group item</li>
  <li class="list-group-item list-group-item-primary">Networking Infastructure Installation</li>
  <li class="list-group-item list-group-item-success">Networking Infastructure Troubleshooting</li>
  <li class="list-group-item list-group-item-danger">Cloudflare</li>
  <li class="list-group-item list-group-item-warning">Nginx</li>
  <li class="list-group-item list-group-item-info">Wireshark</li>
</ul>
<h1>Stegeman.dev Domain</h1>