@{
    ViewData["Title"] = "Networking";
}
<h1>Networking Experience</h1>
<ul class="list-group">
    <li class="list-group-item list-group-item-primary">Networking Infastructure Installation and Troubleshooting</li>
    <li class="list-group-item list-group-item-success">Apache HTTP & Tomcat Server</li>
    <li class="list-group-item list-group-item-danger">JBoss/Wildfly</li>
    <li class="list-group-item list-group-item-warning">Wireshark</li>
    <li class="list-group-item list-group-item-info">Cloudflare</li>
    <li class="list-group-item list-group-item-secondary">Nginx</li>
</ul>
<br>
<h1>Networking Architecture</h1>
<div class="text-center">
  <img src="Resume/Images/network_diagram.jpg" class="rounded">
</div>