@{
    ViewData["Title"] = "Programming";
}
<h1>@ViewData["Title"]</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card bg-primary mb-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Programming Software</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-action list-group-item-primary">Visual Studio</li>
                    <li class="list-group-item list-group-item-action list-group-item-primary">Visual Studio Code</li>
                    <li class="list-group-item list-group-item-action list-group-item-primary">IntelliJ</li>
                    <li class="list-group-item list-group-item-action list-group-item-primary">PyCharm</li>
                    <li class="list-group-item list-group-item-action list-group-item-primary">Android Studio</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-warning mb-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Programming Languages</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-action list-group-item-warning">Java</li>
                    <li class="list-group-item list-group-item-action list-group-item-warning">Javascript</li>
                    <li class="list-group-item list-group-item-action list-group-item-warning">C++</li>
                    <li class="list-group-item list-group-item-action list-group-item-warning">C#</li>
                    <li class="list-group-item list-group-item-action list-group-item-warning">Python</li>
                    <li class="list-group-item list-group-item-action list-group-item-warning">Kotlin</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-success mb-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Database Management</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-action list-group-item-success">SQL Server</li>
                    <li class="list-group-item list-group-item-action list-group-item-success">Power BI</li>
                    <li class="list-group-item list-group-item-action list-group-item-success">Firebase</li>
                    <li class="list-group-item list-group-item-action list-group-item-success">Knime</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-info mb-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Markup Languages</h5>
                <ul class="list-group list-group-flush">
                   <li class="list-group-item list-group-item-action list-group-item-info">HTML</li>
                    <li class="list-group-item list-group-item-action list-group-item-info">CSS</li>
                    <li class="list-group-item list-group-item-action list-group-item-info">XML</li>
                    <li class="list-group-item list-group-item-action list-group-item-info">JSON</li>
                    <li class="list-group-item list-group-item-action list-group-item-info">YAML</li>   
                    <li class="list-group-item list-group-item-action list-group-item-info">SQL</li>
                    <li class="list-group-item list-group-item-action list-group-item-info">Razor</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-danger mb-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Programming Frameworks</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-action list-group-item-danger">Node.js</li>
                    <li class="list-group-item list-group-item-action list-group-item-danger">npm</li>
                    <li class="list-group-item list-group-item-action list-group-item-danger">ASP.NET</li>
                    <li class="list-group-item list-group-item-action list-group-item-danger">NuGet</li>
                    <li class="list-group-item list-group-item-action list-group-item-danger">Anaconda</li>
                    <li class="list-group-item list-group-item-action list-group-item-danger">pip</li>
                    <li class="list-group-item list-group-item-action list-group-item-danger">Thymeleaf</li>
                    <li class="list-group-item list-group-item-action list-group-item-danger">Spring Boot</li>
                    <li class="list-group-item list-group-item-action list-group-item-danger">Bootstrap</li>
                    <li class="list-group-item list-group-item-action list-group-item-danger">Jetpack Compose</li>   
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-secondary mb-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Project Management</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-action list-group-item-secondary">Git</li>
                    <li class="list-group-item list-group-item-action list-group-item-secondary">Gradle</li>
                    <li class="list-group-item list-group-item-action list-group-item-secondary">Maven</li>
                    <li class="list-group-item list-group-item-action list-group-item-secondary">Jira</li>
                    <li class="list-group-item list-group-item-action list-group-item-secondary">Jitbit</li>
                    <li class="list-group-item list-group-item-action list-group-item-secondary">CI/CD</li>
                    <li class="list-group-item list-group-item-action list-group-item-secondary">Agile Methodology</li>
                </ul>
            </div>
        </div>
    </div>
</div>