@{
    ViewData["Title"] = "Programming";
}
<h1>Programming Software</h1>
<p>Visual Studio, Visual Studio Code, IntelliJ, PyCharm, Android Studio, Git, Gradle, Apache Maven, 
Node.js, npm, pip, NuGet, Anaconda, jQuery, Bootstrap, Thymeleaf, Jetpack Compose, ASP.NET, and Spring Boot.</p>
<h1>Programming Languages</h1>
<p>Java, JavaScript, C++, C#, Python, HTML, CSS, XML, JSON, YAML, SQL, Razor, and Kotlin.</p>
