@{
    ViewData["Title"] = "Systems Administration";
}
<h1>@ViewData["Title"]</h1>
<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
        <div class="card bg-info mb-3" style="width: 16rem;">
            <div class="card-body">
                <h5 class="card-title">Software Systems</h5>
                <ul class="list-group list-group-flush">
                   <li class="list-group-item list-group-item-action list-group-item-info">Adobe Creative Cloud</li>
                    <li class="list-group-item list-group-item-action list-group-item-info">Microsoft 365</li>
                    <li class="list-group-item list-group-item-action list-group-item-info">Connectwise Control</li>   
                    <li class="list-group-item list-group-item-action list-group-item-info">Bomgar BeyondTrust</li>
                    <li class="list-group-item list-group-item-action list-group-item-info">Autodesk</li>
                    <li class="list-group-item list-group-item-action list-group-item-info">Solidworks</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-danger mb-3" style="width: 16rem;">
            <div class="card-body">
                <h5 class="card-title">Windows</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-action list-group-item-danger">Powershell</li>
                    <li class="list-group-item list-group-item-action list-group-item-danger">Windows Server</li>
                    <li class="list-group-item list-group-item-action list-group-item-danger">Active Directory</li>
                    <li class="list-group-item list-group-item-action list-group-item-danger">File Server</li>
                    <li class="list-group-item list-group-item-action list-group-item-danger">IIS</li>
                    <li class="list-group-item list-group-item-action list-group-item-danger">DNS</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-warning mb-3" style="width: 16rem;">
            <div class="card-body">
                <h5 class="card-title">Linux</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-action list-group-item-warning">Linux Terminal</li>
                    <li class="list-group-item list-group-item-action list-group-item-warning">PuTTY</li>
                    <li class="list-group-item list-group-item-action list-group-item-warning">WinSCP</li>
                    <li class="list-group-item list-group-item-action list-group-item-warning">Docker</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-success mb-3" style="width: 16rem;">
            <div class="card-body">
                <h5 class="card-title">Virtualization</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-action list-group-item-success">ESXi</li>
                    <li class="list-group-item list-group-item-action list-group-item-success">EC2</li>
                    <li class="list-group-item list-group-item-action list-group-item-success">Hyper-V</li>
                    <li class="list-group-item list-group-item-action list-group-item-success">Proxmox VE</li>
                </ul>
            </div>
        </div>
    </div>
</div>