@{
    ViewData["Title"] = "System Administration";
}
<h1>@ViewData["Title"]</h1>
<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
        <div class="card bg-info mb-3" style="width: 16rem;">
            <div class="card-body">
                <h5 class="card-title">Software Systems</h5>
                <ul class="list-group list-group-flush">
                   <li class="list-group-item list-group-item-action list-group-item-info">Adobe Creative Cloud</li>
                    <li class="list-group-item list-group-item-action list-group-item-info">Microsoft 365</li>
                    <li class="list-group-item list-group-item-action list-group-item-info">Connectwise Control</li>   
                    <li class="list-group-item list-group-item-action list-group-item-info">Bomgar BeyondTrust</li>
                    <li class="list-group-item list-group-item-action list-group-item-info">Autodesk</li>
                    <li class="list-group-item list-group-item-action list-group-item-info">Solidworks</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-danger mb-3" style="width: 16rem;">
            <div class="card-body">
                <h5 class="card-title">Windows</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-action list-group-item-danger">Powershell</li>
                    <li class="list-group-item list-group-item-action list-group-item-danger">Windows Server</li>
                    <li class="list-group-item list-group-item-action list-group-item-danger">Active Directory</li>
                    <li class="list-group-item list-group-item-action list-group-item-danger">File Server</li>
                    <li class="list-group-item list-group-item-action list-group-item-danger">DNS</li>
                    <li class="list-group-item list-group-item-action list-group-item-danger">IIS</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-warning mb-3" style="width: 16rem;">
            <div class="card-body">
                <h5 class="card-title">Linux</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-action list-group-item-warning">User and File Management</li>
                    <li class="list-group-item list-group-item-action list-group-item-warning">Shell Scripting</li>
                    <li class="list-group-item list-group-item-action list-group-item-warning">SSH</li>
                    <li class="list-group-item list-group-item-action list-group-item-warning">FTP</li>
                    <li class="list-group-item list-group-item-action list-group-item-warning">Docker</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-success mb-3" style="width: 16rem;">
            <div class="card-body">
                <h5 class="card-title">Virtualization</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-action list-group-item-success">EC2</li>
                    <li class="list-group-item list-group-item-action list-group-item-success">Hyper-V</li>
                    <li class="list-group-item list-group-item-action list-group-item-success">VMware ESXi</li>
                    <li class="list-group-item list-group-item-action list-group-item-success">Proxmox VE (KVM)</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<h1>System Architecture</h1>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <img class="card-img-top" src="https://user-images.githubusercontent.com/84042739/233774943-fd796d38-ab0c-4725-85f1-83504a1b292e.jpg" alt="supermicro">
            <div class="card-body">
                <h5 class="card-title">Supermicro Server & Cisco Switch</h5>
                <p class="card-text">The silver box on the bottom is a Supermicro 1U 1022G-NTF A+ Server which has 32 CPU cores and 72GB of RAM. It gets its connection through network cables from the box above it which is a Cisco Switch.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <img class="card-img-top" src="https://user-images.githubusercontent.com/84042739/233776326-4e5c18db-e8be-40e6-92be-27d56d60e3c9.jpg" alt="backup server">
            <div class="card-body">
                <h5 class="card-title">Backup Server & Programming Laptop</h5>
                <p class="card-text">The desktop on the right is a backup server which replicates the virtual disks of the Supermicro server. This provides high availability in case of server failure. The laptop on the right I use for programming and SSH.</p>
            </div>
        </div>
    </div>
</div>
<br>
<br>
