@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Trey Stegeman's Resume</h1>
</div>
<br>
<div class="card mx-auto" style="max-width: 666px;">
    <div class="row g-0">
        <div class="col-sm-5">
            <img src="https://media.licdn.com/dms/image/D4D03AQHLsfGqkTGHmg/profile-displayphoto-shrink_800_800/0/1677511930254?e=2147483647&v=beta&t=wvfUUWHBbceR1zETsP9mYixDYU2ffk2k-hxUS_OD5_Q" class="card-img-top h-100" alt="profile pic">
        </div>
        <div class="col-sm-7">
            <div class="card-body">
                <h5 class="card-title">Trey Stegeman (He/Him)</h5>
                <p class="card-text">Hello, I am a software engineer and I.T. graduate based in Cincinnati, Ohio. I created this website as a place to host my resume, please check it out.</p>
                <a href="mailto:trey@stegeman.dev" class="btn btn-primary stretched-link">Email</a>
            </div>
        </div>
    </div>
</div>
<h2>Experience</h2>
<div class="card">
    <div class="card-header">
        <h4>Brooksource</h4>
    </div>
    <div class="card-body">
        <h5 class="card-title">Software Engineering Consultant</h5>
        <h8>August 2024 - Present</h8>
        <p class="card-text">
            Worked as a software engineering consultant for Fifth Third Bank's financial reconciliation technology squad, responsibilities included:
            <ul>
                <li>Developed optimized batch cycle processes for production support workflows, improving efficiency and reliability.</li>
                <li>Led efforts to align the team with the bank’s modern data strategy by introducing technologies such as DBT and Snowflake.</li>
                <li>Spearheaded migration from Tableau to Power BI, enhancing reporting capabilities and streamlining data visualization with a scalable development pipeline that supports strategic decision making for finance transformation research.</li>
                <li>Introduced and implemented software development best practices, including the use of Entity Framework in C# console applications.</li>
                <li>Created comprehensive documentation and provided mentorship to team members, fostering a culture of continuous improvement and technical excellence.</li>
            </ul>
        </p>
    </div>
</div>
<br />
<div class="card">
    <div class="card-header">
        <h4>Western & Southern Financial Group</h4>
    </div>
    <div class="card-body">
        <h5 class="card-title">Investment IT Programming Intern</h5>
        <h8>January 2024 - April 2024</h8>
        <p class="card-text">
            Worked as a financal programming intern for Fort Washington Investment Advisors and Eagle Reality Group, responsibilities included:
            <ul>
                <li>Participating in batch processing incident support for key financial technology applications, including Eagle Investment Accounting (PACE) and Insurance Investment Accounting (PAM), enhancing operational efficiency and reliability.</li>
                <li>Gaining proficiency in ETL development utilizing tools such as MarkitEDM and Informatica, contributing to the improvement of data transformation and mastering processes.</li>
                <li>Conducting application data maintenance, ensuring high data quality and accessibility for decision-making and reporting, thereby supporting the firm' s strategic financial management.</li>
                <li>Supporting key research and preparatory tasks for a critical data migration and integration project for a new performance attribution engine. Collaborated with senior developers, contributing to in-depth analysis and groundwork needed for a smooth transition.</li>
                <li>Implementing C# code enhancements for business logic modifications, adding diagnostic controller endpoints for production debugging, accompanied by comprehensive unit tests to ensure functionality and reliability.</li>
           </ul>  
        </p>
        <br>
        <h5 class="card-title">Agency Application Programming Intern</h5>
        <h8>January 2023 - December 2023</h8>
        <p class="card-text">
            Worked in the development of insurance operations contributing to the agile methodology by conducting requirements gathering, leading standup meetings, and developing enhancements to systems such as:
            <ul>
                <li>INB - An insurance underwriting and new business website, I developed a batch application that efficiently processes email requests that are inserted into a database from various programmatic sources. Improving the team's email practices from sending out unlogged plain text emails to HTML emails with inline image attachments as well as an archiving mechanism of the sent email.</li>
                <li>WSBS - For the compliance department of brokerage services, I added a page to their website for registered representatives that creates FinCEN reports used for identifying fraudulent activities in the company. By comparing newly uploaded customer data against existing database records, the program produces comprehensive reports to help aid in fraud detection.</li>
                <li>ASK - Standing for Agent Statistical Knowledgebase, I worked on creating a program that assigns agents a specific default goal during a sales campaign based off their tenure, and then subsequently ranks their performance against those targets. Using existing knowledgebase data, the program creates and sends out various types of reports to upper-level management providing insight on agent, district, division, and company goal achievement during campaigns.</li>
            </ul>  
        </p>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header">
        <h4>Senneca Holdings</h4>
    </div>
    <div class="card-body">
        <h5 class="card-title">Information Technology Intern</h5>
        <h8>August 2021 - December 2022</h8>
        <p class="card-text">Worked with end users as a level 1 support technician, troubleshooting and resolving tickets for the IT helpdesk. Additional responsibilities included:
            <ul>
                <li>Managing the imaging and provisioning of new hire computer hardware and software licenses, ensuring a seamless onboarding experience.</li>
                <li>Participating in the implementation of our new ticketing system, helping drive down average response times to under an hour through the use of SLAs and KPIs.</li>
                <li>Conducting business trips gaining insight into the layout of our networking infrastructure, in order for us to effectively triage and initiate facility network repairs.</li>
                <li>Developing programming projects aimed at enhancing helpdesk efficiency, including the creation of automation tools used for asset tracking and retrieval.</li>
                <li>Facilitating the training of other IT interns, along with the contribution of documentation articles to our knowledge base for future use.</li>
            </ul>
        </p>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Education</h2>
            <div class="card">
                <div class="card-header">
                    <h4>University of Cincinnati</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Bachelor of Science in Information Technology</h5>
                    <h6>August 2019 - April 2024</h6>
                    <p class="card-text">
                        - GPA: 3.5<br>
                        - Focus on Software Development<br>
                        - Minor in Finance
                    </p>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">
                    <h4>Saint Xavier High School</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title">High School Diploma</h5>
                    <h6>August 2015 - May 2019</h6>
                    <p class="card-text">
                        - GPA: 3.3<br>
                        - Took AP Computer Science</p>
                </div>
            </div>
        </div>
        <br />
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h2>Certifications & Honors</h2>
                    <div class="card">
                        <div class="card-header"><b>Amazon Web Services</b></div>
                        <div class="card-body">
                            <h6 class="card-title">AWS Certified Cloud Practitioner</h6>
                            <h8>April 2021</h8>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <br>
                    <div class="card">
                        <div class="card-header"><b>Microsoft</b></div>
                        <div class="card-body">
                            <h6 class="card-title">Azure Fundamentals Certificate</h6>
                            <h8>June 2021</h8>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <div class="card">
                        <div class="card-header"><b>Boy Scouts of America</b></div>
                        <div class="card-body">
                            <h6 class="card-title">Eagle Scout</h6>
                            <h8>May 2019</h8>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
