@{
    ViewData["Title"] = "Programming";
}
<h1>Programming Experience</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card bg-primary mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Programming Software</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-item-action list-group-item-primary">IntelliJ</li>
                        <li class="list-group-item list-group-item-action list-group-item-primary">PyCharm</li>
                        <li class="list-group-item list-group-item-action list-group-item-primary">Android Studio</li>
                        <li class="list-group-item list-group-item-action list-group-item-primary">Visual Studio</li>
                        <li class="list-group-item list-group-item-action list-group-item-primary">Visual Studio Code</li>
                        <li class="list-group-item list-group-item-action list-group-item-primary">Unity</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-warning mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Markup Languages</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-item-action list-group-item-warning">Markdown</li>
                        <li class="list-group-item list-group-item-action list-group-item-warning">HTML</li>
                        <li class="list-group-item list-group-item-action list-group-item-warning">CSS</li>
                        <li class="list-group-item list-group-item-action list-group-item-warning">XML</li>
                        <li class="list-group-item list-group-item-action list-group-item-warning">JSON</li>
                        <li class="list-group-item list-group-item-action list-group-item-warning">YAML</li> 
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-success mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Data Technologies</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-item-action list-group-item-success">SQL Server</li>
                        <li class="list-group-item list-group-item-action list-group-item-success">PL/SQL</li>
                        <li class="list-group-item list-group-item-action list-group-item-success">Firebase</li>
                        <li class="list-group-item list-group-item-action list-group-item-success">Power BI</li>
                        <li class="list-group-item list-group-item-action list-group-item-success">Grafana</li>
                        <li class="list-group-item list-group-item-action list-group-item-success">MarkitEDM</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-info mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Programming Languages</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-item-action list-group-item-info">Java</li>
                        <li class="list-group-item list-group-item-action list-group-item-info">JavaScript</li>
                        <li class="list-group-item list-group-item-action list-group-item-info">C++</li>
                        <li class="list-group-item list-group-item-action list-group-item-info">C#</li>
                        <li class="list-group-item list-group-item-action list-group-item-info">Python</li>
                        <li class="list-group-item list-group-item-action list-group-item-info">Kotlin</li>
                        <li class="list-group-item list-group-item-action list-group-item-info">Bash</li>
                        <li class="list-group-item list-group-item-action list-group-item-info">Visual Basic</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-danger mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Programming Frameworks</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-item-action list-group-item-danger">.NET Core</li>
                        <li class="list-group-item list-group-item-action list-group-item-danger">Bootstrap</li>
                        <li class="list-group-item list-group-item-action list-group-item-danger">Entity Framework</li>
                        <li class="list-group-item list-group-item-action list-group-item-danger">JQuery</li>
                        <li class="list-group-item list-group-item-action list-group-item-danger">Swagger</li>
                        <li class="list-group-item list-group-item-action list-group-item-danger">Node.js</li>
                        <li class="list-group-item list-group-item-action list-group-item-danger">React</li>
                        <li class="list-group-item list-group-item-action list-group-item-danger">Spring Boot</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-secondary mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">DevOps</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-item-action list-group-item-secondary">SDLC</li>
                        <li class="list-group-item list-group-item-action list-group-item-secondary">GitHub</li>
                        <li class="list-group-item list-group-item-action list-group-item-secondary">GitLab CI/CD</li>
                        <li class="list-group-item list-group-item-action list-group-item-secondary">Azure DevOps</li> 
                        <li class="list-group-item list-group-item-action list-group-item-secondary">Agile Methodology</li>
                        <li class="list-group-item list-group-item-action list-group-item-secondary">Containerization</li>
                        <li class="list-group-item list-group-item-action list-group-item-secondary">Ansible</li>
                        <li class="list-group-item list-group-item-action list-group-item-secondary">Terraform</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<h1>Projects</h1>
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Resume</h5>
                <p class="card-text">A .NET MVC that contains information about my resume. It also has a CI/CD pipeline attached that builds, tests, and deploys a Docker image into production.</p>
            </div>
            <div class="card-footer">
                <a href="https://gitlab.stegeman.dev/treystegeman/Resume" class="btn btn-primary">Repo Link</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ozymandias Investments</h5>
            <p class="card-text">Investment tracker that providers historical stock information of entered ticker, as well as news and position information.</p>
            </div>
            <div class="card-footer">
                <a href="https://gitlab.stegeman.dev/treystegeman/ozymandias-investments" class="btn btn-primary">Repo Link</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">IT Returns Label Maker</h5>
                <p class="card-text">A .NET Windows form that generates return labels for IT packages using the FedEx Ship API.</p>
            </div>
            <div class="card-footer">
                <a href="https://gitlab.stegeman.dev/treystegeman/IT_Returns_Label_Maker" class="btn btn-primary">Repo Link</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Jitbit Asset Tracker</h5>
                <p class="card-text">A .NET Windows form that queries WMI information to create trackable assets in the Jitbit helpdesk.</p>
            </div>
            <div class="card-footer">
                <a href="https://gitlab.stegeman.dev/treystegeman/Asset_Tracker" class="btn btn-primary">Repo Link</a>
            </div>
        </div>
    </div>
<br>
<br>
