<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Resume</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Resume.styles.css" asp-append-version="true" /> 
    <link rel="stylesheet" href="~/css/vapor.css" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Resume</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Programming">Programming</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Networking">Networking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="SystemAdmin">Systems Administration</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" class="btn-check" name="btnradio" id="quartz" autocomplete="off" value="quartz" checked>
                                <label class="btn btn-secondary" for="quartz">Light</label>
                                <input type="radio" class="btn-check" name="btnradio" id="vapor" value="vapor" autocomplete="off">
                                <label class="btn btn-secondary" for="vapor">Dark</label>
                                <input type="button" class="btn-check" name="btn" id="start" value="start" autocomplete="off">
                                <label class="btn btn-info" for="start" onclick="redirectToStartPage()">Startpage</label>
                            </div>
                        </li>
                    </ul>
                    <script>
                        const quartzCSS = '/css/quartz.css';
                        const vaporCSS = '/css/vapor.css';
                        const currentCSS = document.querySelector('link[href*="vapor.css"]');
                        
                        function redirectToStartPage() {
                            window.location.href = "/Home/Startpage";
                        }

                        function changeCSS(cssFile) {
                            currentCSS.href = cssFile;
                        }

                        const quartzRadio = document.getElementById('quartz');
                        quartzRadio.addEventListener('change', function () {
                            if (this.checked) {
                                changeCSS(quartzCSS);
                                localStorage.setItem('radioButton', 'quartz');
                            }
                        });

                        const vaporRadio = document.getElementById('vapor');
                        vaporRadio.addEventListener('change', function () {
                            if (this.checked) {
                                changeCSS(vaporCSS);
                                localStorage.setItem('radioButton', 'vapor');
                            }
                        });
                        
                        const lastSelected = localStorage.getItem('radioButton');
                        if (lastSelected === 'vapor') {
                            vaporRadio.checked = true;
                            changeCSS(vaporCSS);
                        } else {
                            quartzRadio.checked = true;
                            changeCSS(quartzCSS);
                        }
                    </script>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Resume - <a asp-area="" asp-controller="Home" asp-action="Startpage">Startpage</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
