<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name='description' content="Trey Stegeman's Software Engineering Resume">
    <meta name='keywords' content="Trey Stegeman, Software Development, Software Engineering, Developer, Programming, Programmer, Resume, CV, Cincinnati, Ohio, C#, Finance, Fintech, Eagle Investment Accounting (PACE), Insurance Investment Accounting (PAM), MarkitEDM, ETL, Agile, Java, .NET, Networking, System Administration">
    <meta property="og:title" content="Trey Stegeman's Resume" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="../../Images/resume.png" />
    <meta property="og:url" content="https://trey.stegeman.dev" />
    <title>@ViewData["Title"] - Resume</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Resume.styles.css" asp-append-version="true" /> 
    <link rel="stylesheet" href="~/css/vapor.css" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <script type="text/javascript">
        (function (c, l, a, r, i, t, y) {
            c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
            t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "j3lp7fncp2");
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SJFZQ6PY0M"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-SJFZQ6PY0M');
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Resume" asp-action="Index">Resume</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Resume" asp-action="SoftwareDevelopment">Software Development</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Resume" asp-action="ComputerNetworking">Computer Networking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Resume" asp-action="SystemAdministration">System Administration</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" class="btn-check" name="btnradio" id="quartz" autocomplete="off" value="quartz">
                                <label class="btn btn-secondary" for="quartz">Light</label>
                                <input type="radio" class="btn-check" name="btnradio" id="vapor" value="vapor" autocomplete="off" checked>
                                <label class="btn btn-secondary" for="vapor">Dark</label>
                                <input type="button" class="btn-check" name="btn" id="start" value="start" autocomplete="off">
                                <label class="btn btn-info" for="start" onclick="redirectToStartPage()">Startpage</label>
                            </div>
                        </li>
                    </ul>
                    <script>
                        const quartzCSS = '/css/quartz.css';
                        const vaporCSS = '/css/vapor.css';
                        const currentCSS = document.querySelector('link[href*="vapor.css"]');
                        
                        function redirectToStartPage() {
                            window.location.href = "/Resume/Startpage";
                        }

                        function changeCSS(cssFile) {
                            currentCSS.href = cssFile;
                        }

                        const quartzRadio = document.getElementById('quartz');
                        quartzRadio.addEventListener('change', function () {
                            if (this.checked) {
                                changeCSS(quartzCSS);
                                localStorage.setItem('radioButton', 'quartz');
                            }
                        });

                        const vaporRadio = document.getElementById('vapor');
                        vaporRadio.addEventListener('change', function () {
                            if (this.checked) {
                                changeCSS(vaporCSS);
                                localStorage.setItem('radioButton', 'vapor');
                            }
                        });
                        
                        const lastSelected = localStorage.getItem('radioButton');
                        if (lastSelected === 'quartz') {
                            quartzRadio.checked = true;
                            changeCSS(quartzCSS);
                        } else {
                            vaporRadio.checked = true;
                            changeCSS(vaporCSS);
                        }
                    </script>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Resume - <a asp-area="" asp-controller="Resume" asp-action="Startpage">Startpage</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
